<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>书架</title>

        <link rel="stylesheet" href="./libs/global.min.css">
        <link rel="stylesheet" href="./book-shelf.css">

        <script src="./libs/jquery.js"></script>
        <script src="./libs/vue.min.js"></script>

    </head>
    <body>
        <div id="BookShelfApp">
            <div class="bookshelf_title">我的书架</div>
            <div v-for="(item,index) in books" :key="index">
                <div v-if="item.list.length!=0" class="bookshelf-group">
                    <div v-if="item.icon" class="bookshelf-group_icon">
                        <span> {{item.icon}}</span>
                    </div>
                    <div v-if="item.group_name" class="bookshelf-group_name">
                        {{item.group_name}}
                    </div>
                    <ul class="bookshelf-group_books">
                        <li v-for="(book,bookIndex) in item.list"
                            :key="bookIndex">
                            <a v-if="book.isPdfLink" href="javascript:void(0)"
                                class="book-cover"
                                :title="book.name"
                                @click.stop="fnShowDialog(book)">
                                <img class="book-cover_img" :src="book.cover"
                                    :alt="book.name">
                            </a>
                            <a v-else :href="book.link" target="_blank"
                                class="book-cover"
                                :title="book.name"
                                @click.stop="fnShowDialog(book)">
                                <img class="book-cover_img" :src="book.cover"
                                    :alt="book.name">
                            </a>
                            <div class="book-info">
                                <h3 class="book-info_name">
                                    <span class="book-info_name-text">{{book.name}}</span>
                                </h3>
                                <p class="book-info_author">书籍作者：{{book.author}}</p>
                                <p class="book-info_author">出版时间：{{book.publishTime}}</p>
                                <p class="book-info_record">读书笔记：<a
                                        target="_blank"
                                        :href="book.readRecordLink||'javascript:void(0)'">{{book.readRecordText}}</a>
                                </p>
                                <p class="book-info_recommended">推荐指数：
                                    <span v-for="(star,starIndex) in
                                        book.recommended" :key="starIndex"
                                        class="book-info_recommended-star">⭐</span>
                                </p>
                                <div class="book-info_description">
                                    <p class="book-info_description-text">{{book.description}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="bookshelf-dialog" :class="{'is-show':dialog.show}">
                <div class="close-btn" @click.stop="fnCloseDialog()">×</div>
                <embed :src="dialog.data.link">
            </div>
        </div>


        <script src="./book-shelf.js"></script>
    </body>
</html>
